$main-color: #fd7e14;
$main-hover: #ffa000;
$main-light: #a83d35;
$warning-color: #ffc819;
$success-color: #73be3a;
$info-color: #177ddc;
$error-color: #471111;
$text-m: #ffffff;
$text-b: #000000;
$text-d: #7d7d7d;
$text-l: #be3a3b;
$text-t: #dbdbdb;
$text-g: #acacac;
$text-b2: #1c1c1c;
$text-w: #cb7e7e;
$border: #303030;
$bg: #111111;
$bg-f: #1c1c1c; // 用在了footer等
$bg-c: #161616;
$bg-w: #ffffff;
$bg-a: #1d1d1d;
$bg-d: #101010;
