@font-face {
  font-family: FredokaOne-Regular;
  src: url(../font/FredokaOne-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Erbaum-Black;
  src: url(../font/Erbaum-Black.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Erbaum-Book;
  src: url(../font/Erbaum-Book.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Erbaum-Light;
  src: url(../font/Erbaum-Light.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Erbaum-Medium;
  src: url(../font/Erbaum-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Erbaum-Regular;
  src: url(../font/Erbaum-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Erbaum-Thin;
  src: url(../font/Erbaum-Thin.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "iconfont"; /* Project id 2755515 */
  src: url("//at.alicdn.com/t/font_2755515_ag9hm8yenzk.woff2?t=1629352780327")
      format("woff2"),
    url("//at.alicdn.com/t/font_2755515_ag9hm8yenzk.woff?t=1629352780327")
      format("woff"),
    url("//at.alicdn.com/t/font_2755515_ag9hm8yenzk.ttf?t=1629352780327")
      format("truetype");
}
