$themes: (
    light: (
        white: #fff,
        black: #27292d,
        main-one: #00a54f,
        main-two: #1b88ee,
    ),
    dark: (
        white: #27292d,
        black: #fff,
        main-one: #00a54f,
        main-two: #1b88ee,
    ),
);
