$themes: (
  light: (
    color-dc3545: #dc3545,
    color-ffffff: #ffffff,
    color-fd7e14: #fd7e14,
    color-14b465: #14b465,
    color-17173a: #17173a,
    color-2c2c2c: #2c2c2c,
    color-f8f9fa: #f8f9fa,
    color-e8e8eb: #e8e8eb,
    color-fffaf3: #fffaf3,
    color-ededf0: #ededf0,
    color-000000: #000000,
    color-e1e1e1: #e1e1e1,
    color-1d1d1d: #1d1d1d,
    color-121212: #121212,
    coin_link: #f8f9fa,
    coin_link_hover: rgba(23, 23, 58, 0.3),
    media_icon: rgba(23, 23, 58, 0.7),
    media_icon_hover: rgba(23, 23, 58, 1),
    insure_button: #f8f9fa,
    insure_button_text: #17173a,
    insure_button_disable: rgba(23, 23, 58, 0.4),
    insure_button_border: #e8e8eb,
    black_button: #17173a,
    black_button_text: #fff,
    black_button_hover: #2c2c2c,
    disable_button_text: #fff,
    disable_button: #e1e1e1,
    insure_input_border: #e8e8eb,
    mining_earn: #f7f7fa,
    swap_background: #ffffff,
    swap_border: #e8e8e8,
    lang_icon: #ffffff,
    lang_icon_hover: #f8f9fa,
    price_line: #e8e8e8,
    onepager_title: #ffcb82,
    iio_text1: #17173a,
    migration_color1: #f8f9fa,
    migration_color2: #17173a,
    migration_color3: #22292f,
    migration_color4: rgba(23, 23, 58, 0.7),
    migration_color5: #17173a,
    migration_color6: rgba(23, 23, 58, 0.3),
    migration_color7: rgba(23, 23, 58, 0.4),
    lptmining_border:
      linear-gradient(
        271deg,
        rgba(232, 232, 241, 1),
        rgba(233, 205, 221, 1),
        rgba(228, 208, 240, 1)
      ),
    lptmining_color1: #17173a,
    lptmining_color2:  rgba(255, 255, 255, 0.5),
    lptmining_color3: rgba(23, 23, 58, 0.4),
  ),
  dark: (
    color-dc3545: #dc3545,
    color-ffffff: #1d1d1d,
    color-fd7e14: #fd7e14,
    color-14b465: #14b465,
    color-17173a: #e1e1e1,
    color-2c2c2c: #d5d5db,
    color-f8f9fa: #121212,
    color-e8e8eb: #222222,
    color-fffaf3: #2f2b25,
    color-ededf0: #2c2c2c,
    color-000000: #ffffff,
    color-e1e1e1: #17173a,
    color-1d1d1d: #ffffff,
    color-121212: #f8f9fa,
    coin_link: rgba(255, 255, 255, 0.5),
    coin_link_hover: rgba(255, 255, 255, 1),
    media_icon: rgba(255, 255, 255, 0.5),
    media_icon_hover: rgba(255, 255, 255, 1),
    lang_icon: rgba(255, 255, 255, 0.5),
    lang_icon_hover: rgba(255, 255, 255, 1),
    insure_button: #222222,
    insure_button_text: rgba(255, 255, 255, 0.87),
    insure_button_disable: rgba(255, 255, 255, 0.38),
    insure_button_border: #2c2c2c,
    black_button: #2c2c2c,
    black_button_text: #fd7e14,
    black_button_hover: #333232,
    disable_button_text: rgba(255, 255, 255, 0.38),
    disable_button: #2c2c2c,
    insure_input_border: #2c2c2c,
    mining_earn: #222222,
    swap_background: #1d1d1d,
    swap_border: #2c2c2c,
    price_line: #2c2c2c,
    onepager_title: #2c2c2c,
    iio_text1: #17173a,
    migration_color1: #222222,
    migration_color2: #ffffff,
    migration_color3: #ffffff,
    migration_color4: rgba(255, 255, 255, 0.7),
    migration_color5: #fd7e14,
    migration_color6: rgba(255, 255, 255, 0.3),
    migration_color7: rgba(255, 255, 255, 0.4),
    lptmining_border: linear-gradient(271deg, #373737, #6f5140, #4f2743),
    lptmining_color1: rgba(255, 255, 255, 0.87),
    lptmining_color2: rgba(34, 34, 34, 0.4),
    lptmining_color3: rgba(255, 255, 255, 0.38),
  ),
);
