$themes: (
    light: (
        color-dc3545: #dc3545,
        color-ffffff: #ffffff,
        color-fd7e14: #fd7e14,
        color-14b465: #14b465,
        color-17173a: #17173a,
        color-2c2c2c: #2c2c2c,
        color-f8f9fa: #f8f9fa,
    ),
    dark: (
        color-dc3545: #dc3545,
        color-ffffff: #ffffff,
        color-fd7e14: #fd7e14,
        color-14b465: #14b465,
        color-17173a: #17173a,
        color-2c2c2c: #2c2c2c,
        color-f8f9fa: #f8f9fa,
    ),
);
